<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pixiemedia" translate="label" sortOrder="500">
            <label>Pixie Media</label>
        </tab>
        <section id="pixie" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Add Body Class</label>
            <tab>pixiemedia</tab>
            <resource>PixieMedia_AddBodyClass::config_pixiemedia_addbodyclass</resource>
            <group id="bodyclass" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="stores" type="select" sortOrder="11" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
                    <label>Website and Store Code</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Add Website and Store Code classes to body</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="handles" type="select" sortOrder="12" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
                    <label>Page Type (layout handles)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Add layout handles classes to body</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="login_status" type="select" sortOrder="13" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
                    <label>Logged in/out</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Add logged-in / logged-out classes to body</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="webp" type="select" sortOrder="14" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
                    <label>Webp Available</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Add webp / no-webp classes to body</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cssclass" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Custom body CSS class</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Add user defined class to body</comment>
                </field>
            </group>
        </section>
    </system>
</config>
